body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

/* 
body>h1 {
    color: blueviolet;
    background-color: goldenrod;
    text-align: center;
} */

hr {
    height: 20px;
    background-color: silver;
}

/* descendant selector */
/* div h1 {
    color: aqua;
    background-color: black;
} */

/* child selectors */
div>h1 {
    color: red;
    background-color: black;
}

/* adjacent sibling selectors */
/* div+h6 {
    color: red;
    background-color: goldenrod;
} */

/* general selector */
div~h6 {
    color: red;
    background-color: black;
}